%h1
  Scar Project
%p
  Scar: Sun cloud API reference.
%p
  This website is generated (nanoc3) from content in the Scar repository.
  The aim of the Scar project is to facilitate participation by increasing
  %ul
    %li
      %p
        Agility
    %li
      %p
        Transparency
    %li
      %p
        Productivity
    %li
      %p
        Generate documentation from the API specification (Ruby).  Projects
        implmenting Sun's Cloud API can share a common documentation source
        and generate (possibly filtered) documentation that is extracted from the
        specification, and evolves as the specification is corrected or extended.
    %li
      %p
        Provide snapshots of Sun's Cloud API.
        %em Example
        To grab version 0.n
        %pre
          %code.language-ruby
            :preserve
            git clone git://github.com/hedgehog/scar.git
            git checkout -b your_branch v0.n
        If you don't want the whole repo, github is not configured to respond to
        git archive ... Instead, use
        %pre
          %code.language-ruby
            :preserve
            curl -O -L http://github.com/hedgehog/scar/downloads/...
    %li
      %p
        Make transparent, and accessible, any ideas others explore or errors they
        correct.  See
        %a.external{ :href => "http://github.com/hedgehog/scar/network" }
          here.
    %li
      %p
        Provide a web queryable (JSON? YAML?) representation of the API. (TODO)
    %li
      %p
        Provide a local copy of the Sun cloud API specification that can be
        browsed (exactly these pages), and customized.  See (TODO).
%ul
  %li
    %p
      %strong
        Change this page’s content
      by editing “content.html” file in the “content” directory. This is the actual page content, and therefore doesn’t include the header, sidebar or style information (those are part of the layout).
  %li
    %p
      %strong
        Change the layout
      , which is the “default.txt” file in the “layouts/default” directory, and create something unique (and hopefully less bland).
%p
  If you need any help with customizing your nanoc web site, be sure to check out the documentation (see sidebar), and be sure to subscribe to the discussion group (also see sidebar). Enjoy!
