%h3
  Introduction
%p
  This wiki specifies a RESTful API for creating and managing cloud resources, including compute, storage, and networking components.
%p
  Usage of the API is via the HTTP protocol.  The GET, POST, PUT, and DELETE requests are all used, although most tasks can be accomplished with GET and POST.  Resource representations are in JSON.
%p
  The API presupposes no particular structure in the URI space.  The starting point is a URI, supplied by the cloud service provider, which identifies the cloud itself.  The cloud's representation contains URIs for the other resources in the cloud, and also for operations which may be performed upon them (for example deploying and starting virtual machines).
%p
  The specification of the Sun Cloud API includes:
%ul
  %li
    Common behaviors that apply across all requests and responses.
  %li
    Resource models, which describe the JSON data structures used in requests and responses.
  %li
    The requests that may be sent to cloud resources, and the responses expected.
%p
  This API operates on the following primary resource types:
%ul
  %li
    Cloud: A top-level construct which groups all the Virtual Data Centers to which an API user has access.
  %li
    Virtual Data Center (VDC): An isolated container which is populated with Clusters, Private Virtual Networks, Public Addresses, Storage Volumes, Volume Snapshots.
  %li
    Cluster: An administrative grouping of Virtual Machines, useful for access control, copying or cloning, geographic isolation, and scripting automation.
  %li
    Virtual Machine (VM): A server.
  %li
    Private Virtual Network (VNet): A subnet, not connected to the Internet, which may be used to connect Virtual Machines within a VDC.
  %li
    Public Address: A connection to the Internet.
  %li
    Storage Volume: A storage resource which may be accessed via WebDAV and other storage protocols.
  %li
    Volume Snapshot: A snapshot of the state of a Storage Volume.
%p
  The API additionally operates on secondary resources such as VM Backups and Network Interfaces.
%p
  %a.internal{ :href => "/projects/suncloudapis/pages/HelloCloud" }
    \&quot;Hello, Cloud&quot;: An illustrative walk-through of the Sun Cloud API
  is designed to serve as the starting-point for learning this API.

