!!! Strict
%html
  %head
    %title Scar (Sun's cloud API reference) Project
    = @item[:title]
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
      %link{ :href => "/stylesheet.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
      %link{ :href => "/coderay.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %body
    #main
      = yield 
    #sidebar
      %ul
        %li
          %a{ :href => "/" }
            %strong Scar Home
      %h2
        Specifications
      %ul
        %li
          %a{ :href => "/spec_home/" }
            Spec Home
        %li
          %a{ :href => "/spec_common/" }
            Common Behavior
        %li
          %a{ :href => "/spec_resources/" }
            Resources
        %li
          %strong Requests to ...
          %li
            %a{ :href => "/spec_resource_backup/" }
              %strong Backup
          %li
            %a{ :href => "/spec_resource_cloud/" }
              %strong Cloud
          %li
            %a{ :href => "/spec_resource_cluster/" }
              %strong Cluster
          %li
            %a{ :href => "/spec_resource_interface/" }
              %strong Interface
          %li
            %a{ :href => "/spec_resource_location/" }
              %strong Location
          %li
            %a{ :href => "/spec_resource_public_address/" }
              %strong Public Address
          %li
            %a{ :href => "/spec_resource_request_status/" }
              %strong Request Status
          %li
            %a{ :href => "/spec_resource_snapshot/" }
              %strong Snapshot
          %li
            %a{ :href => "/spec_resource_virtual_data_center/" }
              %strong Virtual Data Center
          %li
            %a{ :href => "/spec_resource_virtual_machine/" }
              %strong Virtual Machine
          %li
            %a{ :href => "/spec_resource_virtual_machine_template/" }
              %strong Virtual Machine Template
          %li
            %a{ :href => "/spec_resource_virtual_network/" }
              %strong Virtual Network
          %li
            %a{ :href => "/spec_resource_volume/" }
              %strong Volume
      %h2
        Community
      %ul
        %li
          %a{ :href => "http://wiki.github.com/hedgehog/scar/" }
            Scar wiki
        %li
          %a{ :href => "http://github.com/hedgehog/scar/network" }
            Scar network
        %li
          %a{ :href => "http://github.com/hedgehog/scar/issues" }
            Scar issues
        %li
          %a{ :href => "http://kenai.com/projects/suncloudapis/pages/Home" }
            Kenai wiki
        %li
          %a{ :href => "http://kenai.com/projects/suncloudapis/forums/forum" }
            Kenai forum
        %li
          %a{ :href => "http://kenai.com/projects/suncloudapis/lists/extended-discussion/archive" }
            Kenai maillist archive
