#!/usr/bin/env ruby

compile '/stylesheet/*' do
  rep.filter :sass
  rep.filter :relativize_paths, :type => :css
end
compile '/coderay/*' do
  rep.filter :sass
  rep.filter :relativize_paths, :type => :css
end

compile '/' do
  filter :haml
  layout 'default'
  filter :syntax_colorize
  rep.filter :relativize_paths, :type => :html
  # rep.filter :relativize_paths, :type => :html
  # puts "Now we relativize"
end
compile '/spec_*' do
  filter :haml
  layout 'default'
  filter :syntax_colorize
  rep.filter :relativize_paths, :type => :html
  # rep.filter :relativize_paths, :type => :html
  # puts "Now we relativize"
end
compile '/implementation/**/*' do
  filter :haml
  layout 'default'
  filter :syntax_colorize
  rep.filter :relativize_paths, :type => :html
  # rep.filter :relativize_paths, :type => :html
  # puts "Now we relativize"
end

compile '/models/**/*' do
  rep.filter :haml
  rep.layout 'model'
  rep.filter :syntax_colorize
  rep.filter :relativize_paths, :type => :html
end

#compile '/*' do
#  filter :haml
#  layout 'default'
#end
route '/stylesheet/*' do
  item.identifier.chop + '.css' # so that the /stylesheet/screen/ item is compiled to /assets/style/screen.css
end
route '/coderay/*' do
  item.identifier.chop + '.css' # so that the /stylesheet/screen/ item is compiled to /assets/style/screen.css
end

route '*' do
  item.identifier + 'index.html'
end

layout '/model/', :haml, :format => :xhtml
layout '/default/', :haml, :format => :xhtml

layout '*', :haml,:format => :xhtml
